#non essential folder; "/" implies "in each subfolder"
.vscode/
SSH/
freud_env/
RMC/
Archive/**/*.png
Runs/**/*.png
#c++ executable file "*-wild card" implies for all file names ending with exe
*.ini
*/*.ini
*.plt
*.pyc
*.exe
*.txt
*.dat
*.json
*.csv
*.xlsx
*.html
*.gif
*.mp4
*.gsd
#Files
tempi.html
version.dat
persistence.dat
tempCodeRunnerFile.python
Archive/sendmail.py
Archive/Notifier.py
