#non essential folder; "/" implies "in each subfolder"  
.vscode/
SSH/
#c++ executable file "*-wild card" implies for all file names ending with exe
*.ini
*/*.ini
*.plt
*.pyc
*.exe
*.txt
*.dat
*.json
*.csv
*.xlsx
*.png
*.html
*.gif
*.mp4
#Files
tempi.html
version.dat
persistence.dat
Archive/Notifier.py
Archive/sendmail.py
